<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Booknet | Your Online Library</title>

    <link href="css/books.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  </head>

 <body role="document">
    <nav style="position:absolute">
      <div class="header">
        <div class="navbar-home">
          <a href="#">BOOKS</a>
        </div>

        <div id="navbar">
          <ul>
            <li id="selected"><a href="/books/">Browse</a></li>
            <li><a href="/orders/">Something</a></li>
            <li><a href="/users/login/">Account</a></li>
          </ul>
        </div>

      </div>
    </nav>
    <div class="content">
      <h4>Book Category</h4>
      <div id="books-container">
        {% block content %}
        {% for book in info.iteritems() %}
            <div class="book-item">
              <img src="{{book[1][2]}}" width="60" height:"80">
              <p>{{book[1][0]}}</p>
              <p class="author">by: {{book[1][1]}}</p>
            </div>
  
        {% endfor %}
        {% endblock %}
    </div>
</body>
</html>
