<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Booknet | Your Online Library</title>

    <link href="css/books.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="js/books.js"></script>
  </head>
<body role="document">
    <nav style="position:absolute">
      <div class="header">
        <div class="navbar-home">
          <a href="#">shelfLife</a>
        </div>

        <div id="navbar">
          <ul>
            <li id="selected"><a href="/books/">Browse</a></li>
            <li><a id="account-link" href="/users/login/">Account</a></li>
          </ul>
        </div>

      </div>
    </nav>
<style>
.box{
    width:150px;
    height:180px;
    border:1px solid black;
    display:inline-block;
    *dsplay:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    white-space:normal;
    vertical-align:middle;
    text-align:center;
    padding:5px;
    background-color:#E0E0E0;
    overflow-y:scroll;
}

.box:hover{
  background-color:#D8D8D8; 
}
#container{
    width:100%;
    height:200px;
    float:left;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
}
</style>

<div class="content">
<h4>{{userGenres[0]}}</h4>    
<div id="container">
   {% block content %}
        {% for book in cat1.iteritems() %}
            <div class="box">
              <img src="{{book[1][2]}}" width="60" height:"80" onerror="imgError(this);">
              <p style="display:none" class="book_id">{{book[0]}}</p>
              <p>{{book[1][0]}}</p>
              <p class="author">by: {{book[1][1]}}</p>
            </div>

        {% endfor %}
        {% endblock %}   
    
</div>  

<h4>{{userGenres[1]}}</h4>
<div id="container">
   {% block content2 %}
        {% for book in cat2.iteritems() %}
            <div class="box">
              <img src="{{book[1][2]}}" width="60" height:"80" onerror="imgError(this);">
              <p style="display:none" class="book_id">{{book[0]}}</p>
              <p>{{book[1][0]}}</p>
              <p class="author">by: {{book[1][1]}}</p>
            </div>

        {% endfor %}
        {% endblock %}

</div>

<h4>{{userGenres[2]}}</h4>
<div id="container">
   {% block content3 %}
        {% for book in cat3.iteritems() %}
            <div class="box">
              <img src="{{book[1][2]}}" width="60" height:"80" onerror="imgError(this);">
              <p style="display:none" class="book_id">{{book[0]}}</p>
              <p>{{book[1][0]}}</p>
              <p class="author">by: {{book[1][1]}}</p>
            </div>

        {% endfor %}
        {% endblock %}

</div>

<h4>{{userGenres[3]}}</h4>
<div id="container">
   {% block content4 %}
        {% for book in cat4.iteritems() %}
            <div class="box">
              <img src="{{book[1][2]}}" width="60" height:"80" onerror="imgError(this);">
              <p style="display:none" class="book_id">{{book[0]}}</p>
              <p>{{book[1][0]}}</p>
              <p class="author">by: {{book[1][1]}}</p>
            </div>

        {% endfor %}
        {% endblock %}

</div>

<h4>{{userGenres[4]}}</h4>
<div id="container">
   {% block content5 %}
        {% for book in cat5.iteritems() %}
            <div class="box">
              <img src="{{book[1][2]}}" width="60" height:"80" onerror="imgError(this);">
              <p style="display:none" class="book_id">{{book[0]}}</p>
              <p>{{book[1][0]}}</p>
              <p class="author">by: {{book[1][1]}}</p>
            </div>

        {% endfor %}
        {% endblock %}

</div>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
                <div class="book-info">
		<p>This is a sample modal box that can be created using the powers of CSS3.</p>
		<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
	        </div>
         </div>
</div>
 
</div>
<div id="username" style="display:none">{{username}}</div>
</html>
