<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Booknet | Your Online Library</title>

    <link href="css/books.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="js/userbooks.js"></script>
  </head>
<body role="document">
    <nav style="position:absolute">
      <div class="header">
        <div class="navbar-home">
          <a href="#">shelfLife</a>
        </div>

        <div id="navbar">
          <ul>
            <li id="selected"><a href="/books/">Browse</a></li>
            <li><a href="/users/login/">Account</a></li>
          </ul>
        </div>

      </div>
    </nav>
<style>
.box{
    width:150px;
    height:180px;
    border:1px solid black;
    display:inline-block;
    *dsplay:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    white-space:normal;
    vertical-align:middle;
    text-align:center;
    padding:5px;
    background-color:#E0E0E0;
    overflow-y:scroll;
}

.box:hover{
  background-color:#D8D8D8; 
}
#container{
    width:100%;
    height:200px;
    float:left;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
}
</style>

<div class="content">
<div class="logout"><button type="button" id="logout-btn">Log Out</button></div>
<h2>Book Shelf</h2>
<h4>Currently Reading</h4>    
<div id="container">
   {% block content %}
        {% for book in reading.iteritems() %}
            <div class="box">
              <img src="{{book[1][2]}}" width="60" height:"80" onerror="imgError(this);">
              <p style="display:none" class="book_id">{{book[0]}}</p>
              <p>{{book[1][0]}}</p>
              <p class="author">by: {{book[1][1]}}</p>
            </div>

        {% endfor %}
        {% endblock %}   
    
</div>  

<h4>Want to Read</h4>
<div id="container">
   {% block content2 %}
        {% for book in willread.iteritems() %}
            <div class="box">
              <img src="{{book[1][2]}}" width="60" height:"80" onerror="imgError(this);">
              <p style="display:none" class="book_id">{{book[0]}}</p>
              <p>{{book[1][0]}}</p>
              <p class="author">by: {{book[1][1]}}</p>
            </div>

        {% endfor %}
        {% endblock %}

</div>

<h4>Read</h4>
<div id="container">
   {% block content3 %}
        {% for book in read.iteritems() %}
            <div class="box">
              <img src="{{book[1][2]}}" width="60" height:"80" onerror="imgError(this);">
              <p style="display:none" class="book_id">{{book[0]}}</p>
              <p>{{book[1][0]}}</p>
              <p class="author">by: {{book[1][1]}}</p>
            </div>

        {% endfor %}
        {% endblock %}

</div>

<h4>Favorite Genres</h4>
<div id="fav-genres">
<div class="genre-select">
<select id="genre1-select">
  <option value="{{userGenres[0]}}" selected>{{userGenres[0]}}</option>
  {% block genrelist1 %}
    {% for genre in genres %}
      <option value="{{genre}}">{{genre}}</option>
    {% endfor %}
  {% endblock %}

</select>
</div>
<div class="genre-select">
<select id="genre2-select">
  <option value="{{userGenres[1]}}" selected>{{userGenres[1]}}</option>
  {% block genrelist2 %}
    {% for genre in genres %}
      <option value="{{genre}}">{{genre}}</option>
    {% endfor %}
  {% endblock %}
                
</select>
</div>
<div class="genre-select">
<select id="genre3-select">
  <option value="{{userGenres[2]}}" selected>{{userGenres[2]}}</option>
  {% block genrelist3 %}
    {% for genre in genres %}
      <option value="{{genre}}">{{genre}}</option>
    {% endfor %}
  {% endblock %}
                
</select>
</div>
<div class="genre-select">
<select id="genre4-select">
  <option value="{{userGenres[3]}}" selected>{{userGenres[3]}}</option>
  {% block genrelist4 %}
    {% for genre in genres %}
      <option value="{{genre}}">{{genre}}</option>
    {% endfor %}
  {% endblock %}
                
</select>
</div>
<div class="genre-select">
<select id="genre5-select">
  <option value="{{userGenres[4]}}" selected>{{userGenres[4]}}</option>
  {% block genrelist5 %}
    {% for genre in genres %}
      <option value="{{genre}}">{{genre}}</option>
    {% endfor %}
  {% endblock %}
                
</select>
</div>
</div>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
                <div class="book-info">
		<p>This is a sample modal box that can be created using the powers of CSS3.</p>
		<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
	        </div>
         </div>
</div>
 
</div>
</html>
