
.header {
  position:fixed;
  z-index:1;
  width:95%;
  height:50px;
  border-radius:3px;
  background-color:#A38200;
}

body {
  background-color:#191975;
}

.navbar-home {
  display:inline;
  float:left;
  font-family:tahoma;
  font-size:175%;
  margin-right:20px;
  margin-top:10px;
  margin-left:5px;
}

.navbar-home a {
  text-decoration:none;
  font-weight:bold;
  color:#191975;
}

#navbar {
  display:inline;
  float:left;
  height:50px;
  font-family:tahoma;
}

#navbar ul {
    list-style:none;
    padding:0;
    margin:0;
}

#navbar li {
    float: left;
    //border: 1px solid #bbb;
    //margin: 0 0.5em 0 0;
}

#navbar a {
    text-decoration: none;
    display:block;
    background:#A38200;
    padding: 0.24em;
    color: #191975;
    width: 8em;
    text-align:center;
    height:41px;
    font-weight:bold;
    display: table-cell;
    vertical-align: bottom;
}
#navbar #selected {
    //top:1px;
    position: relative;
    background-color: #E6B800;
    color: #191975;
    //border: 1px solid black;
}

#navbar a:hover {
    background: #ddf;
}


.content {
    background-color:white;
    width:91%;
    min-height:100%;
    position:absolute;
    margin-left:10px;
    //border: 1px solid black;
    //margin-left:25px;
    margin-top:52px;
    border-radius:3px;
    padding:0 1em;
    font-family:tahoma;
}



////////////////////////////////////////////////////////////////////////
//BOOK CSS///
////////////////////////////////////////////////////////////////////////

.box{
    width:150px;
    height:180px;
    border:1px solid black;
    display:inline-block;
    *dsplay:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    white-space:normal;
    vertical-align:middle;
    text-align:center;
    padding:5px;
}

#container{
    width:100%;
    height:200px;
    float:left;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
}

.box p {
  margin:0;
  padding:0;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


.genre-select {
  display:inline-block;
  margin: 0 auto;
  padding-bottom:20px;
}

#fav-genres {
  text-align:center;
}

.logout {
  float:right;
}
.login-screen {
  height:150px;
  float:middle;
  border:1px solid black;
    display:inline-block;
    *zoom:1;/* For IE7*/
    white-space:normal;
    text-align:right;
    padding:5px;
    margin:20px auto;
    background-color:#E0E0E0;
}
